@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: initial;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .search-bar {
    width: 15px;
    height: 15px;
    float: left;
  }

  .logo {
    width: 30px;
    height: 15px;  
  }

  #section-one {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    text-align: center;
  }

  .triangle-hexagon {
    width: 200px;
    align-content: center;
  }

  .zero-configuration {
    width: 50px;
  }

  .team-management {
    width: 50px;
  }

  .familiar-features {
    width: 50px;
  }

  .npm-audit {
    width: 50px;
  }

  .grey {
    background-color: #f2f2f2;
    padding: 5px;
    border-style: none;
  }

  header > div > form > label {
    color: rgba(0,0,0,.05);
    
  }

  header > div > form > input {
    color: rgba(0,0,0,.05);
  }

  header > div > form > button {
    background-color: #fb3e44;
    color: white;
    border-style: none;
    align-self: flex-end;
    padding: 5px;
  } 

  .red-shadow-box {
    background-color: #fb3e44;
    box-shadow: 0px 5px 5px lightgray; 
    border-style: none;

  }

  .sign-btn {
    border-style: none;
    background-color: white;
  } 

  .join-btn {
    border-style: none;
    background-color: white;
  } 

  #section-two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 20px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
  }

  h4 {
    color: #ED1C24;
  }

  #section-three {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
  align-content: flex-start;
 inline-size: 1000px;

  }

  .create-btn {
    color: white;
    box shadow: 8px 8px 0 rgba(128,83,35,.2);
    background-color: black;
  }
